/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

.container {
  background-color: white;
}
h1 {
  font-size: 1.5rem;
}

ul {
  list-style: none;
}

caption {
  caption-side: top;
}

body {
  background-image: url("./assets/background.png");
  background-attachment: fixed;
  background-size: cover;
  left: 0px;
  top: 0px;
}
